.gifs-col {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .gifs-col {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .gifs-col {
    width: 50%;
  }
}

.search-input {
  padding: 0.5rem;
  min-width: 20vw;
  background: transparent;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.search-input:focus {
  border-color: rgb(194, 194, 194);
}