.gifImage {
    transition: opacity 0.1s ease-in-out;
}

.gifParent {
    position: relative;
    margin: 1rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.gifTitle {
    font-size: 1.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    font-weight: bold;
}

.gifAuthor {
    font-size: 0.9rem;
    opacity: 80%;
}

@media (max-width: 768px) {
    .gifTitle {
        font-size: 0.9rem;
    }
    .gifAuthor {
        font-size: 0.8rem;
    }
}